.Home {
    width: 100%;
    min-height: 100vh;
    height: 100%;
    padding: 2rem;

    &__heading {
        font-size: $headingSize;
        color: $brandGrey;
        margin-bottom: 2rem;
    }

    .loader {
        text-align: center;
        font-size: 2rem;
        color: #424242;
        font-family: 'Lobster', cursive;
    }
}

.alert {
    width: 50%;
    background: #fff;
    font-size: $titleSize;
    color: $brandGrey;


    position: absolute;
    left: 25%;

    top: 30px;

    display: flex;
    justify-content: center;

    padding: 1rem 2rem;
    border-radius: 10px;
    @include boxShadow(#424242, 4px, 0, 8px, 0.5);
}
@media screen and (min-width: 780px) {
    .Home {
        padding: 4rem;
    }
}